* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #888;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
    height: 120px
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 10%;
    height: 400px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 20px
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.img-container {
    float: left;
    width: 22%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

